blinker            1.7.0
certifi            2024.2.2
charset-normalizer 3.3.2
docutils           0.20.1
greenlet           3.0.3
idna               3.6
numpy              1.26.4
packaging          23.2
pip                23.3.1
pylsl              1.16.2
pyqtgraph          0.13.3
PySide6            6.6.2
PySide6_Addons     6.6.2
PySide6_Essentials 6.6.2
QtPy               2.4.1
requests           2.31.0
scipy              1.12.0
setuptools         68.2.2
shiboken6          6.6.2
SQLAlchemy         2.0.28
typing_extensions  4.10.0
urllib3            2.2.1
wheel              0.41.2
